

.container_feed {
  max-width: 470px;
  margin-right: 32px;
  background-color: beige;
  height: 400px;
  width: 400px;
}
.suggestions{
  max-width: 319px;
  background-color: bisque;
  height: 300px;

}
